# SET UP

## IMPORTAR PAQUETES

In [1]:
import pandas as pd

## CREAR LOS DATASETS INICIALES

### IMPORTAR LOS DATOS

In [11]:
df = pd.read_csv('../../02_Datos/01_Originales/auto-mpg.data',sep='\s+', decimal= '.',names=['mpg','cilindros','desplazamiento','caballos','peso','aceleracion','any_modelo','origen','nombre_auto'])
df

,mpg,cilindros,desplazamiento,caballos,peso,aceleracion,any_modelo,origen,nombre_auto
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

### EXTRAER Y RESERVAR EL DATASET DE VALIDACIÓN

In [12]:
val = df.sample(frac= 0.3)

#### Guardamos dataset de validación

In [13]:
val.to_csv('../../02_Datos/02_Validacion/validacion.csv')

### EXTRAER Y GUARDAR EL DATASET DE TRABAJO

In [19]:
trabajo = df.loc[~df.index.isin(val.index)]

#### Guardamos dataset de trabajo

In [20]:
trabajo.to_csv('../../02_Datos/03_Trabajo/trabajo.csv')