# 04 TRANSFORMACIÓN DE DATOS

## IMPORTACIÓN DE PAQUETES

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

## IMPORTACIÓN DE DATOS

### Cargamos los datos

In [34]:


cat = pd.read_pickle('../../02_Datos/03_Trabajo/cat_resultado_eda.pickle')
num = pd.read_pickle('../../02_Datos/03_Trabajo/num_resultado_calidad.pickle')

### Separamos las target

In [35]:
target = cat.copy()

In [36]:
target

        level
0    very_low
1        High
2         Low
3      Middle
4         Low
..        ...
253      High
254    Middle
255      High
256    Middle
257      High

[258 rows x 1 columns]

## TRANSFORMACIÓN DE CATEGÓRICAS

In [37]:
le = LabelEncoder()

le.fit(target)

target['level'] = le.transform(target)

c:\Users\ialca\anaconda3\envs\proyecto1\Lib\site-packages\sklearn\preprocessing\_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\ialca\anaconda3\envs\proyecto1\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [38]:
target

     level
0        3
1        0
2        1
3        2
4        1
..     ...
253      0
254      2
255      0
256      2
257      0

[258 rows x 1 columns]

In [39]:
le.inverse_transform([0,1,2,3])

array(['High', 'Low', 'Middle', 'very_low'], dtype=object)

Conclusión:

Tras aplicar Label Enconder:
- 0 --> High
- 1 --> Low
- 2 --> Middle
- 3 --> very_low

## TRANSFORMACIÓN DE NÚMERICAS

No se realizará  ninguna transformación a las variables categóricas

## UNIFICAMOS LOS DATASETS

In [40]:
#Dataset a incluir
incluir = [num,target]
tablon = pd.concat(incluir,axis=1)

## GUARDAR DATASETS TRAS TRANSFORMACIÓN DE DATOS

In [41]:
tablon.to_pickle('../../02_Datos/03_Trabajo/df_tablon.pickle')