# 1- SET UP

## IMPORTACIÓN DE PAQUETES

In [1]:
import pandas as pd
import numpy as np

## CREAR LOS DATASETS INICIALES

### CARGAR LOS DATOS

In [8]:
df = pd.read_csv('../../02_Datos/01_Originales/car.data', names = ['precio_compra','precio_mto','n_puertas','n_personas','t_maletero','nivel_seguridad','aceptabilidad'])
df.head()

,precio_compra,precio_mto,n_puertas,n_personas,t_maletero,nivel_seguridad,aceptabilidad
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc

### EXTRAER Y RESERVAR EL DATASET DE PRUEBA

Los datos del dataset de PRUEBA el modelo no los verá  hasta que no se cree el modelo de ejecución definitivo. Estos datos confirmaran que nuestro modelo es óptimo y viable tras evaluar los datos de train y test.

In [37]:
prueba = df.sample(frac = 0.3)
print(prueba.shape)

(518, 7)

In [38]:
#Mostramos dataset
prueba.head()

,precio_compra,precio_mto,n_puertas,n_personas,t_maletero,nivel_seguridad,aceptabilidad
1134,med,med,4,2,small,low,unacc
880,med,vhigh,2,4,big,med,acc
1578,low,med,4,4,med,low,unacc
496,high,vhigh,4,4,small,med,unacc
153,vhigh,high,3,more,small,low,unacc

In [39]:
# Guardamos el dataset de prueba 
prueba.to_csv('../../02_Datos/02_Validacion/prueba.csv')

### EXTRAER Y RESERVAR EL DATASET DE TRABAJO

In [40]:
trabajo = df[~df.index.isin(prueba.index)]
print(trabajo.shape)

(1210, 7)

In [41]:
trabajo.head()

,precio_compra,precio_mto,n_puertas,n_personas,t_maletero,nivel_seguridad,aceptabilidad
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc

In [44]:
#Guardamos el dataset de trabajo
trabajo.to_csv('../../02_Datos/03_Trabajo/trabajo.csv')