# 3 - TRANSFORMACIÓN DE DATOS

## IMPORTACIÓN DE PAQUETES

In [23]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OrdinalEncoder

## IMPORTAR LOS DATOS

In [2]:
df = pd.read_csv('../../02_Datos/03_Trabajo/tablon_analitico.csv', index_col= 0)
df.head()

,precio_compra,precio_mto,n_puertas,n_personas,t_maletero,nivel_seguridad,aceptabilidad
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc

## TRANSFORMACIÓN DE CATEGÓRICAS

#### Variables a aplicar Ordinal Encoder

In [14]:
var_oe = ['precio_compra', 'precio_mto', 'n_puertas', 'n_personas',
        't_maletero',  'nivel_seguridad', 'aceptabilidad']
var_oe

['precio_compra',
 'precio_mto',
 'n_puertas',
 'n_personas',
 't_maletero',
 'nivel_seguridad',
 'aceptabilidad']

#### Orden de los valores de las variables

In [27]:
df.nivel_seguridad.value_counts()

low     408
med     403
high    399
Name: nivel_seguridad, dtype: int64

In [28]:
orden_precio_compra = ['low','med','high','vhigh']
orden_precio_mto = ['low','med','high','vhigh']
orden_n_puertas = ['2','3','4','5more']
orden_n_personas = ['2','4','more']
orden_t_maletero = ['small','med','big']
orden_nivel_seguridad = ['low','med','high']
orden_aceptabilidad = ['unacc','acc','good','vgood']

categorias = [orden_precio_compra, 
              orden_precio_mto,
              orden_n_puertas,
              orden_n_personas,
              orden_t_maletero,
              orden_nivel_seguridad,
              orden_aceptabilidad]

#### Instanciar

In [29]:
oe = OrdinalEncoder(categories = categorias,
                    handle_unknown = 'use_encoded_value',
                    unknown_value = 10)

#### Entrenar y aplicar

In [30]:
df_oe = oe.fit_transform(df[var_oe])

#### Guardar como dataframe

In [31]:
nombres_oe = [variable + '_oe' for variable in var_oe]
df_oe = pd.DataFrame(df_oe, columns = nombres_oe)
df_oe.head()

,precio_compra_oe,precio_mto_oe,n_puertas_oe,n_personas_oe,t_maletero_oe,nivel_seguridad_oe,aceptabilidad_oe
0,3.0,3.0,0.0,0.0,0.0,0.0,0.0
1,3.0,3.0,0.0,0.0,0.0,1.0,0.0
2,3.0,3.0,0.0,0.0,0.0,2.0,0.0
3,3.0,3.0,0.0,0.0,1.0,0.0,0.0
4,3.0,3.0,0.0,0.0,1.0,1.0,0.0

In [33]:
df_oe.describe().T

                     count      mean       std  min  25%  50%  75%  max
precio_compra_oe    1210.0  1.519008  1.116854  0.0  1.0  2.0  3.0  3.0
precio_mto_oe       1210.0  1.472727  1.109251  0.0  0.0  1.0  2.0  3.0
n_puertas_oe        1210.0  1.507438  1.105828  0.0  1.0  1.0  2.0  3.0
n_personas_oe       1210.0  0.986777  0.822446  0.0  0.0  1.0  2.0  2.0
t_maletero_oe       1210.0  0.992562  0.818991  0.0  0.0  1.0  2.0  2.0
nivel_seguridad_oe  1210.0  0.992562  0.816969  0.0  0.0  1.0  2.0  2.0
aceptabilidad_oe    1210.0  0.404959  0.737493  0.0  0.0  0.0  1.0  3.0

El Ordinal Encoder está bien ejecutado al no haber ningún valor nulo(**10**)

## GUARDAR DATASET TRAS TRANSFORMACIÓN DE DATOS

In [35]:
df_oe.to_pickle('../../02_Datos/03_Trabajo/df_tablon.pickle')