# 3 - TRANSFORMACIÓN DE DATOS

## IMPORTACIÓN DE PAQUETES

In [56]:
import numpy as np 
import pandas as pd

from sklearn.preprocessing import OrdinalEncoder

## IMPORTAR LOS DATOS

In [57]:
df = pd.read_csv('../../02_Datos/03_Trabajo/tablon_analitico.csv', index_col= 0)
df.head()

,industrial_risk,management_risk,financial_flexibility,credibility,competitiveness,operating_risk,target
1,N,N,A,A,A,N,NB
2,A,A,A,A,A,A,NB
3,P,P,P,P,P,P,NB
4,N,N,P,P,P,N,NB
5,A,A,P,P,P,A,NB

In [58]:
x = df.drop(columns= 'target').copy()
y = df.target.reset_index().copy()

In [59]:
x.industrial_risk.value_counts()

P    31
N    30
A    30
Name: industrial_risk, dtype: int64

In [60]:
y.drop(columns= 'index', inplace= True)

## TRANSFORMACIÓN DE CATEGÓRICAS

### Variables a aplicar Ordinal Encoder

In [61]:
var_oe = ['industrial_risk',
            'management_risk',
            'financial_flexibility',
            'credibility',
            'competitiveness',
            'operating_risk']

### Orden y categoría de las variables

In [62]:
orden_industrial = ['N','A','P']
orden_management = ['N','A','P']
orden_financial = ['N','A','P']
orden_credibility = ['N','A','P']
orden_competitiveness = ['N','A','P']
orden_operating = ['N','A','P']

categorias = [orden_industrial,
              orden_management,
              orden_financial,
              orden_credibility,
              orden_competitiveness,
              orden_operating]

### Instanciar Ordinal Encoder

In [63]:
oe = OrdinalEncoder(categories= categorias, 
                    handle_unknown= 'use_encoded_value',
                    unknown_value= -99)

### Entrenar y aplicar

In [64]:
df_oe = oe.fit_transform(x[var_oe])

In [65]:
nombre_oe = [variable + '_oe' for variable in var_oe]
df_oe = pd.DataFrame(df_oe, columns= nombre_oe)
df_oe

,industrial_risk_oe,management_risk_oe,financial_flexibility_oe,credibility_oe,competitiveness_oe,operating_risk_oe
0,0.0,0.0,1.0,1.0,1.0,0.0
1,1.0,1.0,1.0,1.0,1.0,1.0
2,2.0,2.0,2.0,2.0,2.0,2.0
3,0.0,0.0,2.0,2.0,2.0,0.0
4,1.0,1.0,2.0,2.0,2.0,1.0
...,...,...,...,...,...,...
86,1.0,2.0,0.0,1.0,0.0,0.0
87,0.0,0.0,0.0,2.0,0.0,2.0
88,0.0,0.0,0.0,2.0,0.0,0.0
89,0.0,1.0,2.0,1.0,0.0,2.0
90,0.0,1.0,0.0,0.0,0.0,0.0

## APLICAR TRANSFORMACIÓN BINARIA A LA TARGET

In [66]:
y = y.replace({'B':1 , 'NB': 0})
y

    target
0        0
1        0
2        0
3        0
4        0
..     ...
86       1
87       1
88       1
89       1
90       1

[91 rows x 1 columns]

## AGRUPAR PREDICTORAS Y TARGET EN UN DATASET

In [69]:
df_tablon = pd.concat([df_oe, y], axis= 1, ignore_index= False)

## GUARDAR DATASET TRAS TRANSFORMACIÓN DE DATOS

In [70]:
df_tablon.to_pickle('../../02_Datos/03_Trabajo/df_tablon_oe.pickle')