# SET UP

## IMPORTACIÓN DE PAQUETES

In [1]:
import numpy as np 
import pandas as pd

## CREAR LOS DATASETS INICIALES

### CARGAR LOS DATOS

In [3]:
datos = pd.read_excel('../../02_Datos/01_Originales/Real_estate_valuation.xlsx')
datos

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
409,2013.000000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,2012.666667,5.6,90.45606,9,24.97433,121.54310,50.0
411,2013.250000,18.8,390.96960,7,24.97923,121.53986,40.6
412,2013.000000,8.1,104.81010,5,24.96674,121.54067,52.5
413,2013.500000,6.5,90.45606,9,24.97433,121.54310,63.9

### EXTRAER Y RESERVAR EL DATASET DE VALIDACIÓN

In [5]:
val = datos.sample(frac= 0.3)
ruta_completa = '../../02_Datos/02_Validacion/validacion.xlsx'

val.to_excel(ruta_completa)

### EXTRAER Y GUARDAR EL DATASET DE TRABAJO

In [7]:
ruta_trabajo = '../../02_Datos/03_Trabajo/trabajo.xlsx'
trabajo = datos.loc[~datos.index.isin(val.index)]
trabajo.to_excel(ruta_trabajo)