1- SET UP

## IMPORTACIÃ“N DE PAQUETES

In [11]:
import pandas as pd 
import numpy as np

## CREAR LOS DATASETS INICIALES

### CARGAR LOS DATOS

In [5]:
df = pd.read_csv('../../02_Datos/01_Originales/fertility_Diagnosis.txt', names= ['estacion', 'edad', 'e_infantil', 'acc_grave', 'int_quirurgica', 'fiebre_ult_any','frec_alcohol','fumar','hr_sentado','produccion'])
df.head()

,estacion,edad,e_infantil,acc_grave,int_quirurgica,fiebre_ult_any,frec_alcohol,fumar,hr_sentado,produccion
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O

In [7]:
df.shape

(100, 10)

## EXTRAER Y RESERVAR EL DATASET DE PRUEBA

In [6]:
prueba = df.sample(frac = 0.3)
print(prueba.shape)

(30, 10)

In [8]:
# Guardamos el dataset de prueba

prueba.to_csv('../../02_Datos/02_Validacion/prueba.csv')

## EXTRAER Y RESERVAR EL DATASET DE TRABAJO

In [18]:
trabajo = df[~df.index.isin(prueba.index)]
print(trabajo.shape)

(70, 10)

In [19]:
# Guardamos el dataset de trabajo
trabajo.to_csv('../../02_Datos/03_Trabajo/trabajo.csv')